.main {
  display: flex;
  width: 100%;
  z-index: 10;

}
.TinyTitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 100px;
}
.analysis_number {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.Helped,
.Gained {
  text-align: center;
  height: 120px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.HelpedNumber {
  display: flex;
  justify-content: flex-start;
}

.growthimgprt {
  display: flex;
  justify-content: space-between;
}
.t_growthimgprt {
  display: flex;
  justify-content: flex-end;
}
.imgprt {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.heading {
  font-size: 20px;
  color: #7c5cfc;
}

.header {
  font-weight: 500;
  /* font-size: clamp(50px, 127.2vw, 70px); */
  font-size: 50px;
  /* line-height: clamp(70px, 5.2vw, 45px); */
  color: #000000;
  z-index: 30;
  margin-bottom: 50px;
}

.f_Context {
  color: #7488a6;
  font-size: 20px;
  line-height: clamp(30px, 5.2vw, 35px);
}

.s_Context {
  color: #7488a6;
  font-size: 20px;
  margin-top: 30px;
  line-height: clamp(30px, 5.2vw, 35px);
}

.SilvedHighlight {

  -webkit-background-clip: text;
  font-size: 30px;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}

.Helped {
  /* background-color: #190929; */
}

.Gained {}

.HelpedWord {
  font-size: 20px;
  color: #5d6180;
}

.Arrivals {
  position: absolute;
  width: 80vw;
  margin-top: 100px;
  z-index: -1;
  pointer-events: none;
}

.Patients {
  position: absolute;
  margin-top: -150px;
  margin-left: -300px;
  pointer-events: none;
}

.Business {
  position: absolute;
  width: 40vw;
  pointer-events: none;

  margin-top: -20px;
}

.BusinessPic {
  height: 250px;
  width: 220px;
}

.ArrowStatic {
  position: absolute;
  height: 80%;
  width: 100%;
  margin-right: -500px;
  z-index: -1;
  pointer-events: none;
}

.Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  width: 47.5%;

}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47.5%;
}

@media (max-width: 1500px) {
  .statics {
    height: 300px;
  }
  .launch {
    height: 340px;
  }
  .instagram {
    width: 350px;
    height: 230px;
  }
  .subscribe {
    height: 180px;
  }
}

@media (max-width: 1300px) {
  .Container {
    gap: 50px;
  }
  .launch {
    height: 320px;
  }
  .statics {
    height: 280px;
  }
  .instagram {
    width: 330px;
    height: 200px;
  }
  .subscribe {
    height: 170px;
  }


}

@media (max-width: 1100px) {
  .Container {
    display: flex;
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }

  .growthimgprt ,.t_growthimgprt{
    display: flex;
    justify-content: space-around;
  }
  .TinyTitle {
    margin-top: 0px;
  }

}

@media (max-width: 1000px) {
  .ArrowStatic {
    display: none;
  }
}

@media (max-width: 800px) {
  .header {
    font-size: 40px;
  }
  .SilvedHighlight {
    font-size: 35px;
  }

  .f_Context,.s_Context,.HelpedWord {
    font-size: 18px;
  }
  .SilvedHighlight {
    font-size: 30px;
  }
  .growthimgprt ,.t_growthimgprt{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {


  .SilvedHighlight {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .growthimgprt ,.growthimgprt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .f_Context,.s_Context,.HelpedWord {
    font-size: 16px;
  }
  .header {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
.SilvedHighlight {
  font-size: 25px;
}
}
@media (max-width: 450px) {
  .right{
    margin-top: 20px;
  }
    
}
@media (max-width: 400px) {
  .header {
    font-size: 28px;
  }
  .f_Context,.s_Context,.HelpedWord {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .right{
    margin-top: 40px;
  }
    
}

